.main {
  margin-top: 3.674%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mainText {
  font-family: SBSansInterface-Semibold;
  line-height: 0.74;
  font-size: 3.7735em;
  margin-left: 2.8798%;
}

.countText {
  opacity: 0.3;
  font-family: SBSansInterface-Semibold;
  font-size: 1.986em;
  margin-right: 3.277%;
}